In [1]:
import pandas as pd
import numpy as np
from utils import *

import matplotlib.pyplot as plt
from matplotlib import cm
from numpy import linalg as LA
from tqdm import tqdm

from matplotlib import rc
rc('font',**{'family':'sans-serif','sans-serif':['Helvetica']})
rc('text', usetex=True)

In [2]:
X = pd.read_csv('data/Xtr0_mat50.csv', sep=' ', header=None)
# X = pd.read_csv('data/Xtr0.csv', header=None)
# X = pd.read_csv('data/Xtr0.csv', header=None)
Y = pd.read_csv('data/Ytr0.csv', sep=',', header=0)
Y.columns = ["idx", "bound"]
Y = Y.drop(["idx"], axis=1)
X.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,0.000000,0.043478,0.00000,0.043478,0.021739,0.021739,0.000000,0.021739,0.010870,0.032609,...,0.021739,0.032609,0.021739,0.021739,0.043478,0.054348,0.010870,0.021739,0.010870,0.010870
1,0.000000,0.010870,0.01087,0.021739,0.010870,0.000000,0.010870,0.043478,0.010870,0.021739,...,0.010870,0.021739,0.000000,0.065217,0.054348,0.021739,0.010870,0.010870,0.021739,0.000000
2,0.000000,0.043478,0.00000,0.021739,0.021739,0.032609,0.021739,0.010870,0.000000,0.021739,...,0.021739,0.000000,0.010870,0.032609,0.043478,0.054348,0.021739,0.010870,0.010870,0.010870
3,0.021739,0.021739,0.01087,0.032609,0.021739,0.021739,0.000000,0.010870,0.032609,0.021739,...,0.010870,0.000000,0.010870,0.021739,0.010870,0.021739,0.010870,0.000000,0.021739,0.000000
4,0.010870,0.032609,0.00000,0.010870,0.010870,0.021739,0.021739,0.021739,0.010870,0.010870,...,0.010870,0.000000,0.010870,0.021739,0.054348,0.032609,0.000000,0.032609,0.065217,0.021739

In [3]:
print(Y.shape)
print(X.shape)

(2000, 1)
(2000, 50)

In [ ]:
w_value_hist = []
ac_range2 = []
taurange = [0.0001, 0.001]#, 0.005, 0.01, 0.05, 0.1, 0.15, 0.2, 0.3]

for tau in taurange:
    acc_range=[]
    it = 0
    # while(it < 20):
    for it in tqdm(range(20)):
        print('etape1')
        X_train, Y_train, X_test, Y_test = preprocessing(X, Y)
        mu = 1.1
        print('etape2')
        w, w_hist, phi_w_hist = SVM_vector(X_train, Y_train, tau, mu, tol=0.1)
        print('etape3')
        w_value_hist.append(w)
        Y_predicted, acc = predict(w, X_test, Y_test)
        
        acc_range.append(acc)
    ac_range2.append(np.mean(acc_range))

  0%|          | 0/20 [00:00<?, ?it/s]

etape1
etape2
we want 1.0 to be less than 0.01
we want 0.9090909090909091 to be less than 0.01
we want 0.8264462809917353 to be less than 0.01
we want 0.7513148009015775 to be less than 0.01
we want 0.6830134553650704 to be less than 0.01
we want 0.6209213230591548 to be less than 0.01
we want 0.5644739300537771 to be less than 0.01
we want 0.5131581182307065 to be less than 0.01
we want 0.4665073802097331 to be less than 0.01
we want 0.42409761837248455 to be less than 0.01
we want 0.38554328942953137 to be less than 0.01
we want 0.35049389948139215 to be less than 0.01
we want 0.31863081771035645 to be less than 0.01
we want 0.2896643797366877 to be less than 0.01
we want 0.26333125430607973 to be less than 0.01
we want 0.23939204936916336 to be less than 0.01
we want 0.2176291357901485 to be less than 0.01
we want 0.197844668900135 to be less than 0.01
we want 0.1798587899092136 to be less than 0.01
we want 0.16350799082655781 to be less than 0.01
we want 0.14864362802414346 to be less than 0.01
we want 0.1351305709310395 to be less than 0.01
we want 0.12284597357367227 to be less than 0.01
we want 0.11167815779424752 to be less than 0.01
we want 0.10152559799477047 to be less than 0.01
we want 0.09229599817706406 to be less than 0.01
we want 0.08390545288824004 to be less than 0.01
we want 0.07627768444385458 to be less than 0.01
we want 0.06934334949441325 to be less than 0.01
we want 0.06303940863128477 to be less than 0.01
we want 0.05730855330116797 to be less than 0.01
we want 0.0520986848192436 to be less than 0.01
we want 0.04736244074476691 to be less than 0.01
we want 0.04305676431342446 to be less than 0.01
we want 0.039142513012204054 to be less than 0.01
we want 0.03558410273836732 to be less than 0.01
we want 0.03234918430760665 to be less than 0.01
we want 0.0294083493705515 to be less than 0.01
we want 0.026734863064137724 to be less than 0.01
we want 0.02430442096739793 to be less than 0.01
we want 0.022094928152179935 to be less than 0.01
we want 0.020086298320163575 to be less than 0.01
we want 0.018260271200148705 to be less than 0.01
we want 0.01660024654558973 to be less than 0.01

In [ ]:
fig = plt.figure()
ax = fig.gca()
line1, = ax.plot(taurange, ac_range2)
ax.set_xscale('log')
ax.set_ylabel(r'Accuracy', fontsize=16)
ax.set_xlabel(r'$\tau$', fontsize=16)
plt.show()